html{
    font-family: "Roboto Condensed", sans-serif;
}

body {
  overflow-x: hidden;
}

/*Cores-------------------------------------------------------*/

:root {
    --cor-1: #FF4B00;
    --cor-2: #000000;
    --cor-3: white;
}

/*Textos--------------------------------------------------------*/
.red{
  color: var(--cor-1);
}

a{
    font-size: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
    font-weight: bold;
    text-decoration: none;
    color: white;
}


.logo{
    font-size: clamp(1.875rem, 1.6576rem + 1.087vw, 2.5rem);
    color: var(--cor-1);
    font-family: "Mrs Sheppards", cursive;
    text-decoration: none;
}

p{
    font-size: clamp(0.9375rem, 0.8571rem + 0.3571vw, 1.125rem);
    line-height: 18px;
}

h1, h2{
    font-family: "Lilita One", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
  font-size: 90px;
}

h2{
  font-size: clamp(1.875rem, 1.3393rem + 2.381vw, 3.125rem);
  text-align: center;
}

h3{
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(1.5625rem, 1.3167rem + 1.1236vw, 2.1875rem);
    text-transform: uppercase;
    text-decoration: underline var(--cor-1);
}

h4{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/*Botões------------------------------------------------------*/

.botao {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--cor-1);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--cor-1);
  text-transform: uppercase;
  color: var(--cor-2);
  font-weight: 600;
}

.botao:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--cor-1);
}

.botao:active {
  transform: scale(0.9);
}

  hr{
    margin: 0;
    border: none; 
    background-color: rgba(0, 0, 0, 0.116);
    height: 2px;
  }

/*Nav---------------------------------------------------------*/
#navbar{
    background-color: var(--cor-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    position: fixed;
    z-index: 3;
    width: 100%;
  }

  #nav-red{
    display: block;
    background-color: var(--cor-1);
    width: 38vw;
    min-width: 450px;
    min-height: 7vh;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 80vw;
    position: relative;
  }
  
  .nav-list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 20px;
    z-index: 4;
  }

  .a{
    color: var(--cor-3);
  }
  
  .mobile-menu-icon{
    display: none;
  }
  
  .menu-icon{
    height: 40px;
  }
  
  .mobile-menu{
    display: none;
  }
  
  .open{
    display: flex;
  }

  .shape-red{
    display: block;
    background-color: var(--cor-1);
    width: 38vw;
    min-width: 450px;
    height: 820px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 0
  }

  #nav-red.scrolled {
    background-color: white;
  }

  .a-scrolled{
    color: var(--cor-2);
    font-weight: 400;
  }
  
  
  @media screen and (max-width: 1200px){
    .nav{
      height: 8vh;
    }
    
    .nav-list{
      display: none;
    }

    #nav-red{
      display: none;
    }


    .shape-red{
        display: none;
    }
    .mobile-menu{
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding: 50px;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
      background-color: var(--cor-1);
      width: 100%;
      color: var(--cor-3);
    }
    .mobile-menu-icon{
      display: block;
      cursor: pointer; 
      background-color: transparent;
    }
    .mobile-menu-icon button{
      background-color: transparent;
      border: none;
    }
  }

  /*Header Mobile------------------------------------------------------------*/


  header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header{
    max-width: 1200px;
    width: 80%;
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .text-header{
    width: 80vw;
    max-width: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    display: flex;
  }

  .text-header > h1{
    margin: 20px;
    font-size: clamp(2.25rem, 1.6071rem + 2.8571vw, 3.75rem);
  }

.img-burguer{
  width: clamp(18.75rem, 14.7321rem + 17.8571vw, 28.125rem);
  z-index: 2;
  margin-top: 100px;
}

  /*Header desktop------------------------------------------------------------*/


@media screen and (min-width: 1200px){
  .header{
    flex-direction: row;
  }

  .img-burguer{
    margin-top: 0px;
  }
  .text-header{
    text-align: start;
    max-width: 650px;
    align-items: start;
  }
  .text-header > h1{
    font-size: clamp(3.4375rem, -2.1875rem + 7.5vw, 4.375rem);
    margin: 8px 0;
  }
}

/*About mobile--------------------------------------------------------------------------*/

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  padding: 100px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.875rem, 1.2228rem + 3.2609vw, 3.75rem);
}

.img-about{
  height: clamp(11.25rem, 8.2065rem + 15.2174vw, 20rem);
  width: clamp(19.375rem, 13.288rem + 30.4348vw, 36.875rem);
}

.text-img-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.875rem, 1.2228rem + 3.2609vw, 3.75rem);
  text-align: center;
}

.text-about{
  padding: 5px;
}

/*About desktop--------------------------------------------------------------------------*/
@media screen and (min-width: 1200px){
  section{
    min-height: 90vh;
  }
  .about{
    max-width: 80%;
    height: 70vh;
  }
  .text-img-about{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 80%;
    
  }
  .img-about{
    width:  clamp(23.75rem, -66.25rem + 120vw, 31.25rem);/*380*/
    height: clamp(15.625rem, -14.375rem + 40vw, 18.125rem);
    /*250*/
  }

  .text-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  p{
    font-size:  clamp(0.9375rem, -1.3125rem + 3vw, 1.125rem);
  }
}

/*Cardápio mobile---------------------------------------------*/

.cardapio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px; 
  padding: 100px 0;
}

.opcoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px;
}

.itens{
  display: flex;
  flex-wrap: wrap;
  width: 80%; 
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 277px;
  width: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-red{
  color: var(--cor-1);
}

.img-item{
  height: 90px;
  width: 120px;
}

@media screen and (min-width: 950px){
  .cardapio{
    gap: 50px;
  }
  .itens{
    width: 100%;
    gap: 30px;
    
  }
  .populares{
    gap: 45px;
  }
  .item{
    width: 194px;
  }

  .img-item{
    width: 194px;
    height: 144px;
  }
}


/*Galeria mobile-----------------------------------------*/
.galeria{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.galeria-grid{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/*Galeria Desktop--------------------------------------*/
@media screen and (min-width: 950px){
  .galeria-grid{
    position: relative;
    display: grid;
    width: 900px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "img1 img2 img4 img6"
                        "img1 img2 img5 img7"
                        "img1 img3 img5 img7"
  }
  
  .img-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  }

  .img-grid:hover {
    filter: grayscale(0%);
  }
  
  .img1 { grid-area: img1; }
  .img2 { grid-area: img2; }
  .img3 { grid-area: img3; }
  .img4 { grid-area: img4; }
  .img5 { grid-area: img5; }
  .img6 { grid-area: img6; }
  .img7 { grid-area: img7; }
  
}

/*Localização e Contato mobile-----------------------------*/

.contatoLocal{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  flex-direction: column;
  gap: 50px;
}

.contato-Mapa{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.contato{
  width: clamp(15.625rem, 10.1902rem + 27.1739vw, 31.25rem);
  padding: 20px;
  background-color: var(--cor-2);
  color: var(--cor-3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.p-bold{
  font-weight: bold;
  text-transform: uppercase;
}

.p-redBold{
  font-weight: bold;
  color: red;
}

.mapa{
  height: clamp(12.5rem, 10.3261rem + 10.8696vw, 18.75rem); /*200px*/
  width: clamp(18.75rem, 10.0543rem + 43.4783vw, 43.75rem); /*700*/
  border: 1px solid black;

}

.acao{
  max-width: 80vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social{
  display: flex;

  gap: 10px;
}

.img-social{
  height: 50px;
}
/*Localização desktop--------------------------*/
@media screen and (min-width: 1240px){
  .contatoLocal{
    gap: 100px;
  }
  
  .contato-Mapa{
    flex-direction: row;
    align-items: initial;
    gap: 80px;
  }
  .mapa{
    height: clamp(15.625rem, -3.75rem + 25vw, 18.75rem); /*250*/
    width: clamp(28.125rem, 8.75rem + 25vw, 31.25rem); /*450*/
  }
  .contato{
    width: 300px; /*300*/
    align-items: initial;
    justify-content: center;
    height: clamp(6.25rem, -5.375rem + 15vw, 8.125rem);/*100*/
    gap: 8px;
  }
  .acao{
    max-width: 60%;
    gap: 25px;
  }
}

/*Footer Mobile----------------------*/

footer {
  background-image: url("../images/footer.png");
  background-position: center;
  background-size: cover;
}


.footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 5px;
  color: var(--cor-3);
}

.social, .email > i{
  font-size: 20px;
}

.email{
  display: flex;
  gap: 3px;
  align-items: center;
}

.termos{
  color: var(--cor-3);
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (min-width: 600px){
  .footer{
    align-items: center;
    gap: 10px;
  }
}



/*Cardápio style-----------------------------------------------------------*/

.header-cardapio{
  background-image: url("../images/cardapio/background-mobile.png");
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-cardapio > h1{
  color: var(--cor-3);
  font-size: clamp(3.4375rem, 3rem + 2.1875vw, 5.625rem); 
}


@media screen and (min-width:600px){
  .header-cardapio{
      background-image: url('../images/cardapio/background.png');
      width: 100vw;
      height: 307px;
  }
}

